# Ignorar arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de cache e configurações do VSCode
.vscode/

# Ignorar arquivos de build
build/
dist/

# Ignorar arquivos de distribuição
*.egg-info/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de log
*.log